<div class="header-wrap p-4">

    <div class="header-inner-wrap d-flex justify-content-center">
        <div>
            <div class="logo text-center">
                <img src="\task-management-logo.png" alt="" width="80px">
            </div>
            <div class="text-center">
                <h4>Demo project</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
       
    </div>
   

</div>